html,
body {
  padding: 0;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}
.header-title {
  font-family: Gothic-East;
  color: #ef1e33;
  margin: 15px 10px;
  letter-spacing: 2px;
  flex-grow: 1;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gothic-East';
  src: url('/fonts/trump_gothic_east_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BabasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FjallaOne';
  src: url('/fonts/FjallaOne-Regular.ttf') format('truetype');
}
